* {
  margin: 0;
  padding: 0;
}

.App {
  color: white;
  background-image: url('./assets/other/background.jpg');
  object-fit: cover;
  background-attachment: fixed; /* Ensures the background doesn't scroll */
  background-size: cover; /* Makes sure the image covers the entire viewport */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}